<ion-header >
  <ion-toolbar>
    <ion-button href="/main" color="warning" > <ion-icon size="large"  name="arrow-back-outline"></ion-icon> </ion-button>
    <ion-title style="color: black; text-align: center; align-items: center; margin-top: -15px; font-size: larger; ">Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>

  <ion-row>
    <ion-col style="color:blue"> Placement </ion-col>
    <ion-col style="margin-left: -55%;"> 10 March, 2023 </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Final Result of ON CAMPUS Drive by CEAT LIMITED OC.8774.2023.36078</ion-col>
  </ion-row>


  <ion-row>
  <ion-col style="color:blue"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 10 March, 2023 </ion-col>
</ion-row>
<ion-row>
  <ion-col>Final Result of Full Term Internship Drive by YUBI TC.30184.2023.35848</ion-col>
</ion-row>


 <ion-row>
  <ion-col style="color:blue"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 10 March, 2023 </ion-col>
</ion-row>
<ion-row>
  <ion-col>Final Result of Full Term Internship Drive by SIGTUPLE TECHNOLOGIES TC.21828.2023.34993</ion-col>
</ion-row>


  <ion-row>
  <ion-col style="color:blue"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 10 March, 2023 </ion-col>
</ion-row>
<ion-row>
  <ion-col>Final Result of ON CAMPUS Drive by INFOLLION RESEARCH LTD OC.21521.2023.36109</ion-col>
</ion-row>


  <ion-row>
  <ion-col style="color:blue"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 10 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>Final Result of Summer Internship Drive by  GROWTH ARROW TC.27668.2024.36098</ion-col>
</ion-row>

<ion-row>
  <ion-col style="color:red"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 09 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>career Pathway orientation session for students of the School of Hotel Management and Tourism -II expected to graduate in the year 2025 session 2</ion-col>
</ion-row>

<ion-row>
  <ion-col style="color:red"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 09 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>Career pathway orientation session for students for students of the School of Education expected to graduate in the year 2025 and 2026</ion-col>
</ion-row>

<ion-row>
  <ion-col style="color:red"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 09 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>Carrer Pathway orientation session for students of the School of Bioengineering  & Biosciences expected to graduate in the year 2026</ion-col>
</ion-row>

<ion-row>
  <ion-col style="color:red"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 09 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>Career Pathway orientation session for students expected to graduate in the year 2023 and 2024 -session 6</ion-col>
</ion-row>

<ion-row>
  <ion-col style="color:red"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 09 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>Career Pathway orientation session for students to graduate in the year 2023 and 2024 - session 7</ion-col>
</ion-row>

<ion-row>
  <ion-col style="color:red"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 09 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>Carrer Pathway orientation session for students of school of Allied Medical Sciences expected to graduate in the year 2025</ion-col>
</ion-row>

<ion-row>
  <ion-col style="color:red"> Placement </ion-col>
  <ion-col style="margin-left: -55%;"> 09 March, 2023 </ion-col>
  </ion-row>
<ion-row>
  <ion-col>Rescheduling of Ph.D Public Pre-Submission Evaluation(Ref No. LPU/DOE/IC/230309/001)</ion-col>
</ion-row>
</ion-grid>
</ion-content>
