<ion-menu contentId="main-content">
  
  <ion-header>
      <!-- <div style="height: 30%; width: 100%; background-color: aquamarine; "></div> -->
      <ion-toolbar>
        <ion-title>Welcome Gagandeep!</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
   <div style="height: 27%; width: 100%; background-color: #ffd633; " >

    <ion-avatar> <img src="https://th.bing.com/th/id/OIP.tFzJeqA6Oa9DAeYXmY_L0wHaHa?w=152&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" style="height: 100%; width: 100%; align-items: center; margin-left: 170%; margin-top: 45%; "  />
    </ion-avatar>
    <ion-grid style="color: black; text-align: center; align-items: center; margin-top: 10%;">

      <ion-row>
        <ion-col>Gagandeep Kumar</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>12006189</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>P124:BCA(2020)</ion-col>
      </ion-row>

    </ion-grid>

  </div>

    <ion-grid>
      <ion-row>
        <ion-col><ion-icon name="save-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Assignment Marks</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="today-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Backlog Registration</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="person-add-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Book Apointment</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="today-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Lecture Feedback</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="reload-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Campus Tour</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="arrow-back-circle-outline" size="large"></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Continue Exit Undertaking</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="pulse-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Doctor Appointment</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="thumbs-up-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Document Upload Page</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="library-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Library Books Issued</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="today-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Railway Concession Form</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="calendar-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Time Table </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="headset-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Uni Hospital Help Line</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="document-text-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">View Marks</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="qr-code-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Placement Barcode Scanner</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="log-out-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">RMS Request Status</ion-col>
      </ion-row>

      
      <ion-row>
        <ion-col><ion-icon name="log-in-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Reset Internet Password</ion-col>
      </ion-row>


      <ion-row>
        <ion-col><ion-icon name="options-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Make Up Adjustment</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="barcode-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Residential Reporting Slip</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="document-lock-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Teacher on Leave</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-icon name="id-card-outline" size="large" ></ion-icon></ion-col>
        <ion-col style="margin-left: -70%; font-size: large;" color="primary">Virtual Id Card</ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
  <ion-footer><ion-button color="warning" style="color: black; width: 97%;  text-align: center; align-items: center;"
      href="/home">LOGOUT<ion-icon name="exit-outline" style="margin-left: 10px;"></ion-icon></ion-button></ion-footer>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >

        <ion-menu-button color="warning"></ion-menu-button>
      </ion-buttons>
      <ion-icon name="notifications-outline" slot="end" size="large"></ion-icon>
      <ion-title style="color: black; text-align: center; align-items: center;">Happenings</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col> 
      <ion-img src="https://th.bing.com/th/id/OIP.x6JinwlHqSntzyjY2b1XaAHaEm?w=270&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" style="height: 190%; width:40%; margin-top: -10%; " ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 5%; " >Lovely Professional University(LPU) successfully concludes its 13th Annual Athletic Meet</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://th.bing.com/th/id/OIP.AuzVpHQoR_4yjXYC01B9UwHaE7?w=253&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 5%; " >LPU's Performing Arts Department organised spectacular music celebration - 'Sangmanch' </ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://th.bing.com/th/id/OIP.Ok958v9GnJh56XaqYgyZSQHaEJ?w=323&h=181&c=7&r=0&o=5&dpr=1.4&pid=1.7" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 5%; " >LPU lifted Overall Runner-up Trophy of 36th All India National Youth Festival  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://th.bing.com/th/id/OIP.MGF82nbAJRMv8hvqgoHIhwHaE7?w=270&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 5%; " >LPU's National Science Day-2023 celebrations highlighted importance of science & innovation for sociatal betterment</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://th.bing.com/th/id/OIP.gEPOPvdkgKeKVO-KFoMGqwHaE8?w=258&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 5%; " >LPU's Agronomy student are reckoned among India's top 'Under 30 Inspiring and Rising Entrepreneur's</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://secureservercdn.net/160.153.138.177/0mo.278.myftpupload.com/wp-content/uploads/2018/03/28379413_10155979220976590_4210358307786410805_n-e1520058317226.jpg?time=1605004669" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 8%; " >Students Enjoy Hexi Bikes Powerd Cyclothon at LPU</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://th.bing.com/th/id/R.d3b87f4afa3b9f1460370c7307ab226c?rik=qHPKpn21unZ7Iw&riu=http%3a%2f%2fhappenings.lpu.in%2fwp-content%2fuploads%2f2019%2f08%2fCandice2-696x390.jpg&ehk=CYUmxcST4bMqcxJJDxGndMTo8F8DCVOwwgViUxQpl1o%3d&risl=&pid=ImgRaw&r=0" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 8%; " >Glimpses of EDM night by Candice Redding at LPU</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://secureservercdn.net/160.153.138.249/0mo.278.myftpupload.com/wp-content/uploads/2019/12/LPU-dist-edu.jpg?time=1661956607" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 5%; " >Personal Contact Programme for Distance Education Students held at LPU</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://i.pinimg.com/originals/6f/5b/6c/6f5b6c349739bdcbdcb540d1b1dce8c2.jpg" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 10%; " >Pin on LPU Happenings</ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
      <ion-img src="https://secureservercdn.net/160.153.138.249/0mo.278.myftpupload.com/wp-content/uploads/2020/03/coding-bootcamp3.jpg?time=1662015704" style="height: 190%; width:40%; margin-top: -10%;" ></ion-img>
    </ion-col>
    <ion-col style="width: 150%; margin-left: -38%; margin-top: 10%; " >Workshop on Coding Bootcamp organized at LPU</ion-col>
  </ion-row>


</ion-grid>
</ion-content>

<ion-footer>
  <div style="height: 70%; margin-bottom: 20px;">
    <div style="height: 100%;  ">
      <ion-button href="/main" color="white" style="height: 70%; width: 23%;  "> <ion-icon name="newspaper-outline" color="warning" size="large"></ion-icon></ion-button>
      <ion-button href="/happenings" color="white" style="height: 70%; width: 23%;   margin-left: 9px;" > <ion-icon name="grid-outline" color="warning" size="large"></ion-icon></ion-button>
      <ion-button href="/rms" color="white" style="height: 70%; width: 23%;  "> <ion-icon name="open-outline" color="warning" size="large"></ion-icon></ion-button>
      <ion-button href="/quiz" color="white" style="height: 70%; width: 23%;  " > <ion-icon name="list-outline" color="warning" size="large"></ion-icon></ion-button>
    </div>

    <div style="height: 1%; margin-top: -10px;">
      <ion-text style="margin-left:10px;">Dashboard</ion-text>
      <ion-text style="margin-left:18px;">Happenings</ion-text>
      <ion-text style="margin-left:25px;">RMS</ion-text>
      <ion-text style="margin-left:40px;">Quick Quiz</ion-text>
    </div>

  </div>
</ion-footer>
