<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
    <ion-icon name="person-circle-outline"  slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-img src="https://img.freepik.com/free-vector/sign-page-abstract-concept-illustration_335657-3875.jpg?w=740&t=st=1677650457~exp=1677651057~hmac=6f152f151f9f094b51e53289f3468d67befeff742bdeaa097c5851195c777fc7" style="height: 30%; width: 80%; margin-left: 40px; margin-top: 20px;"></ion-img>

  <ion-input type="text" placeholder="Registration no." style="background-color: rgb(231, 231, 231); color: blue; width: 80%; border-radius: 30px; text-align: center;  margin-top: 20px; margin-left: 40px;" >
    <ion-icon name="person-add-outline" size="large" style="margin-left: 10px; color: rgb(166, 7, 234);"></ion-icon></ion-input>

  <ion-input type="password" placeholder="Password" style="background-color: rgb(231, 231, 231); color:blue; width: 80%; border-radius: 30px; text-align: center;  margin-left: 40px; margin-top: 20px;" >
    <ion-icon name="key-outline" size="large" style="margin-left: 10px; color: rgb(166, 7, 234);"></ion-icon>
  </ion-input>

  <ion-button href="/main" color="success" style="margin-top: 30px; margin-left: 140px;" >Submit</ion-button>
  <!-- <ion-text>..........</ion-text> -->
  <h3 style="margin-left: 60px;" >..........Or LogIn With..........</h3>
  <div style="width:40%; height: 30px;  margin-top: 60px; margin-left: 20%;">

    <ion-button href="https://www.google.com/"><ion-icon name="logo-google" style=" height: 30px;" ></ion-icon></ion-button>

    <ion-button href="https://www.facebook.com/"><ion-icon name="logo-facebook" style=" height: 30px; " ></ion-icon></ion-button>

    <ion-button href="https://www.github.com/" style="margin-left: 111px; margin-top: -69px; "><ion-icon name="logo-github" style=" height: 30px; " ></ion-icon></ion-button>

    <ion-button href="https://www.instagram.com/" style="margin-left: 165px; margin-top: -107px; "><ion-icon name="logo-instagram" style=" height: 30px; " ></ion-icon></ion-button>
  </div>
</ion-content>


